@keyframes slide {25%{opacity:1;} 40%{opacity:0;}}
.slide img:nth-child(4){animation-delay:0s;}
.slide img:nth-child(3){animation-delay:5s;}
.slide img:nth-child(2){animation-delay:10s;}
.slide img:nth-child(1){animation-delay:15s;}

@keyframes typing{
    from{width: 0}
    to{width: 100%}
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://images.pexels.com/photos/207924/pexels-photo-207924.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    height: 100vh; 
    width: max-content;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
 .slide img {
    border-radius: 50%;
    animation: slide 20s infinite;
    opacity: 0;
    position: absolute; 
    border: 5px solid rgb(241, 7, 163);
    width: 20vw;
}
/*.slide img:hover{
    transform:scaleX(-1);
}*/
.slide{
    padding-bottom: 50%; 
    height: 0px;
    overflow: hidden;
    margin-left: auto;
}
.slide-div{
    width: 3vh;
    height: 3vw;
    align-self: center;
    margin-left: auto;
}
.name{
    animation: typing 2s steps(60,end) 1s normal both;
    overflow: hidden;
    white-space: nowrap;
    font-size: 30px;
}
.track{
    animation: typing 2s steps(60,end) 4s normal both;
    overflow: hidden;
    white-space: nowrap;
    font-size: 34x;
}
.skills{animation: typing 3s steps(60,end) 7s normal both;
    overflow: hidden;
    white-space: nowrap;
    font-size: 40px;
}
.summarya{animation: typing 5s steps(60,end) 11s normal both;
    overflow: hidden;
    white-space: nowrap;
}
.summaryb{animation: typing 4s steps(60,end) 17s normal both;
        overflow: hidden;
        white-space: nowrap;
}
.summaryc{animation: typing 4s steps(60,end) 22s normal both;
            overflow: hidden;
            white-space: nowrap;
}

.summaryd{animation: typing 4s steps(60,end) 27s normal both;
    overflow: hidden;
    white-space: nowrap;
}
@media screen and (max-width: 700px){
    body{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .slide.img{
        width:150px;
    }
    .summarya{
        font-size: 12px;
    }
    .summaryb, .summaryc, .summaryd{
        font-size: 14px;
    }
}
.navbar{
    color:black;
}