/*************************||*************************/
@keyframes typing{
    from{width: 0}
    to{width: 100%}
}
/*************************|BODY|*************************/
html, body{
  margin: 0;
  padding: 0;
  Font-Family: 'Fauna One', Serif;
  Font-Size: 14px;
}
h{
 Font-Family: 'Cinzel', Cursive;
Font-Size: 44px;
}
/*************************|HEADER|*************************/

header{
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
  url('https://images.pexels.com/photos/618902/pexels-photo-618902.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  height: 80vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
}
.typing{
  overflow: hidden;
  white-space: nowrap;
  /* text-decoration: underline; */
  text-shadow: 
                  3px 3px 0 rgb(241, 7, 163),
                  -1px -1px 0 rgb(241, 7, 163),
                  1px 1px 0 rgb(241, 7, 163),
                  -1px -1px 0 rgb(241, 7, 163),
                  1px 1px 0 rgb(241, 7, 163);
  margin: 0 auto;
  font-size: 57px;
  animation: typing 8s steps(60,end) 1s 1 normal both;
}
header > p{
  margin-top: 0;
  line-height: 3;
  font-size: 1.7em;
  text-align: center;
}
header > a{
  font-size: 30px;
  text-decoration: none;
  color: rgb(241, 7, 163);
  width: fit-content;
  border: 1px solid rgb(241, 7, 163);
  border-radius: 5%;
  padding: 2%;
  align-self: center;
  margin-bottom: 2vh;
  background-color: #fff;
}
header > a:hover{
  box-shadow: 10px 10px  rgb(241, 7, 163);
  background-color: transparent;
}
/*************************|TESTIMONIALS|*************************/
.marquee {
height: 80vh;	
overflow: hidden;
position: relative;
border:2px solid rgb(72, 255, 0);
color: rgb(4, 121, 14);
background-color: rgb(240, 255, 246);
}
.marquee > p{
  font-size: 4vw;
  font-weight: bold;
  margin: 0;
  padding: 0.5vw;
  color: rgb(24, 163, 31);
  text-decoration: underline;
}
.marquee div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 5px;
text-align: center;
}

/*************************|SKILLS.HTML|*************************/
.main-div{
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
  url('https://images.pexels.com/photos/4274900/pexels-photo-4274900.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  height: 70vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  display: flex;
  
}
.left-div{
  flex: 1;
  margin: 2vh;
}
.skills-topic{
  font-size: 40px;
  color: rgb(241, 7, 163);
}
.skills-card{
  display: flex;
  padding: 3%;
  flex-direction:column;
  justify-content: space-around;
}
.skill-card p{
}
.skill-card h4{
  font-size: 20px;
}
.skill-number{
  float: left;
  line-height: 50px;
  font-size: 55px;
  color:black;
  border: solid rgb(241, 7, 163);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-bottom: -5px;
}
/********************MOMENTS*********************************/
.moments{
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
  url('https://images.pexels.com/photos/364096/pexels-photo-364096.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  height: 100%; 
  width: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* The Masonry Container */
.masonry {
  margin: 1.5em auto;
  max-width: 768px;
  column-gap: 1.5em;
}

/* The Masonry Brick */
.item {
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}