/*************************||*************************/
@keyframes typing{
    from{width: 0}
    to{width: 100%}
}

:root{
  --white-color:#edf8f8;
  --primary-color:#b7e1e4;
  --secondary-color:#5ab9c1;
  --black-color:#2e4347;
}
















/*************************|BODY|*************************/
html, body{
  margin: 0;
  padding: 0;
  Font-Family: 'Fauna One', Serif;
  Font-Size: 14px;
}
h{
 Font-Family: 'Cinzel', Cursive;
Font-Size: 40px;
}
















/*************************|HEADER|*************************/

header{
  height: 90vh; 
  background-color:#b7e1e4;
  color: var(--black-color);
  display: flex;
  flex-direction: column;
}
.typing{
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-shadow: 
                  3px 3px 0 black,
                  -1px -1px 0 black,
                  1px 1px 0 black,
                  -1px -1px 0 black,
                  1px 1px 0 black;
  margin: 0 auto;
  font-size: 57px;
  animation: typing 8s steps(60,end) 1s 1 normal both;
}
header > p{
  margin: 35px;
  line-height: 2;
  font-size: 1.5em;
  text-align: center;
}
header > a{
  font-size: 30px;
  text-decoration: none;
  color: var(--secondary-color);
  width: fit-content;
  border: 1px solid var(--secondary-color);
  border-radius: 5%;
  padding: 2%;
  align-self: center;
  margin-bottom: 2vh;
  background-color: #fff;
}
header > a:hover{
  box-shadow: 10px 10px  var(--secondary-color);
  background-color: transparent;
}


@media(max-width: 600px){
  .testimony .title{ 
    font-size: 14px;
  }
  header {
    height: 100vh;
  }
  header p{
    font-size: 14px;
  }
  .typing{
    font-size: 25px;
  }
}



















/*************************|TESTIMONIALS|*************************/
h1{
  color: var(--black-color);
  margin: 2vh;;
  font-size: 40px;
  color: var(--black-color);
}
.testimony{
  display: flex;
  size: 33vw;
  display: column;
}

.testimony p{
  font-size: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid var(--secondary-color);
  background-color: var(--white-color);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.testimony{
  line-height: 1.2;
  padding: 5px;
  font-size: 18px;
}

.title {
  color: grey;
  font-size: 18px;
}






























/*************************|SKILLS.HTML|*************************/
.main-div{
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
  url('https://images.pexels.com/photos/4274900/pexels-photo-4274900.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  height: 70vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  display: flex;
  
}
.left-div{
  flex: 1;
  margin: 2vh;
}
.skills-topic{
  font-size: 40px;
  color: var(--black-color);
}
.skills-card{
  display: flex;
  padding: 3%;
  flex-direction:column;
  justify-content: space-around;
}

.skill-card h4{
  font-size: 20px;
}
.skill-number{
  float: left;
  line-height: 50px;
  font-size: 55px;
  color:black;
  border: solid var(--secondary-color);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  margin-bottom: -5px;
}



















/********************MOMENTS*********************************/

.imgcontainer{
  display: flex;
  justify-content: center;
  align-self: center;
	width: 60vw;
	height:60vh;
}
.trans{
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.top{
	display: flex;
	width: 60vw;
	height: 60vh;
	margin-top: 10vh;
  margin-bottom: 10vh;
  justify-content: center;
  align-content: center;
}
.top ul{
	list-style: none;
	width: auto;
	height: auto;
	z-index: 1;
	box-sizing: border-box;
}
.top ul li{
	position: relative;
	float: left;
	width: 25%;
	height: 25%;
	overflow: hidden;
}

.top ul li::before{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: #000; */
	content: '';
	color: white;
	opacity: 0.4;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.top ul li:hover::before{
	opacity: 0;
	/* background-color: rgba(0,0,0,0.90); */
}
.top ul li img{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.imglink{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}
.imglink img{
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%;
	/* Transition */
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.imglink:target{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.imglink:target img{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
