body{
    background-color: #25262A;
}
.right-div{
    flex: 50%;
    padding: 5%;

}
.profile-picture > img{
    width: 200px;
    height: 255px;
    border-radius: 50%;
    float: right;
}
.left-div{
    flex: 50%;
    padding: 7%, 5%;
}
.my summary{
    margin: 5%;
}

.card{
    background-color: #2D2E32;
    margin: 1%;
    color: #ffffffFF;
    perspective: 1000px;
    transition: 0.3s;
    border-radius: 5px;
}
.card.one:hover{
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.card.two:hover{
    box-shadow: 10px 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.card.three:hover{
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.card.four:hover{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);;
}

.card > h2:hover{
    color: #64F5AA;
}
.card > p:hover{
    text-decoration: underline;
    color:#FFFFFF;
}

.skills-card{
    display: flex; 
   flex-direction: column;
   margin: 10px;
   background-color:transparent;
   
}
.navbar {
    display: flex;
    justify-content: flex-end; 
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #25262A;
    color: #64F5AA;
  }
  

  .intro{
      color: #FFFFFF;
  }
  .name{
      color: #FFFFFF;
      font-size: 2.5em;
  }
  footer{
      padding: 20px;
      background-color: #2D2E32;
      color:#FFFFFF;
  }
  
  h3, p{
      color: #FFFFFF;
      width: 100%;
  }
  h2, p, h3{
      margin: 20px;
  }
  
  .main-div{
      display: flex;
      flex-direction: row;
      justify-content: center;
        align-items: center;
        width: 100%;
  }

  /***************FOOTER***************/
  .footer{
      display: flex;
      flex-direction: row;
      padding: 2%;
  }
  .footer-flip-card {
    background-color: transparent;
    width: 50%;
    perspective: 1000px;
    margin:10px;
    display: flex;
    align-items: inherit;
    justify-content:space-evenly;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .footer-flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
      text-align: center;
      margin: 2%;
      width:100%;
  }
  
  .flip-card-front {
    background-color: #25262A;
    
  }
  .flip-card-front > p{
      font-size: 40px;
      color: #64F5AA;
  }
  
  .flip-card-back {
    background-color: #2D2E32;
    transform: rotateY(180deg);
  }
  .flip-card-back > a{
      color: #FFFFFF;
      font-size: 45px;   
    margin-right: 10px;
    -webkit-text-stroke: 1px #2d2E32;
  }
  .flip-card-back > a:hover{
    color: #64F5AA;
}
.footer-form{
    display: flex;
    margin: 2%;
}
input[type=text]{
    width: 70%;
    padding: 10px;
    margin: 1%;
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    
}
section{
    margin: 1%;
}
input[type=submit]{
    background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

@media screen and (max-width: 640px) {
    .skills-card {
      width: 100%;
      height: auto;
      flex-direction: row;
      display: none;
}

}