:root{
  --white-color:#edf8f8;
  --primary-color:#b7e1e4;
  --secondary-color:#5ab9c1;
  --black-color:#2e4347;
}

body{
  background-color: var(--secondary-color);
}
/********************** SCROLL BAR *********************/
::-webkit-scrollbar{
  width: 15px;
  background:blue;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5 black; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: brown;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blueviolet; 
}

/*************************|HEADER|*************************/

header{
  height: 80vh; 
  background-color:#b7e1e4;
  color: var(--black-color);
  display: flex;
  flex-direction: column;
  border-bottom: 5px double var(--secondary-color);
  webkistick
}


@media(max-width: 600px){
  header > p{
    font-size: 1.25em;
  }
}


ul{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }

  
/* Nav Bar */

.top-nav-collapse {
  background-color: #4285F4;
}

  /*************************|FOOTER|*************************/
footer{
  background-color: var(--secondary-color);
  height: 50vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  color:  var(--black-color);
  display: flex;
  flex-direction: column;
  display: flex;
  margin-top: 5vh;
  min-width: 100vw;
}
.text-footer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  width: auto;
  border: 2px groove var(--primary-color);
}
.footer-link{
  flex: 1;
  border-top: 0;
  text-align: center;
  font-size: 20px;
}
.text-footer-text{
   display: flex;
  justify-content: space-between;
  font-weight: bolder;
  text-align: center;
  color:  var(--black-color);
}
.footer-link a{
  color: var(--white-color);
  text-decoration: underline;
}
.footer-link a:hover{
  color: var(--black-color);
}
.text-footer-name{
  flex: 1;
  border: 2px groove var(--primary-color);
}
.text-footer-copyright{
  flex: 1;
  border: 2px groove var(--primary-color);
}
.footer-menu-items{
  justify-content: space-around;
  align-items: center;
  display: flex;
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px groove var(--primary-color);
}






.footer-menu-items > a{
  font-size: 20px;
  color:  var(--white-color);
}


.footer-menu-items > a:hover{
  color: var(--black-color);
}

.footer-menu-items > a.active{
  font-size: 24px;
  color: var(--black-color);
}
.footer-form{
  justify-content: center;
  align-content: center;
  flex: 1;
  width: 70vw;
}
.fab{
  font-size: 50px;
  color: var(--white-color);
}
.fab:hover{
  color: var(--black-color);
}


.footer-form{
  display: flex;
  padding-top: 2vh;
  padding-bottom: 5px;
  }
  .footer-form-items{
    justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
  margin-top: 3vh;
  border-bottom: 2px groove var(--primary-color);

  }

  .footer-form-items  p{
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin: 0.5vw;
    padding: 0.5vw;
  }

  button[type=submit] {
    background-color: var(--primary-color);
   border: 1px ridge var(--secondary-color);
    color: var(--black-color);
    padding: 12px 20px;
    border-radius: 10px;
    margin-left: 20px; 
    margin-bottom: 16px;
    outline: none;
  }

  button:hover{
  background-color: var(--white-color);
  color: var(--secondary-color);
  }

.social-footer-link{
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-size: 20px;
  margin: 0.25vw;
  color: white;
  margin-bottom: 3vh;
}

@media(max-width: 600px){
 .footer-menu-items{
   display: flex;
   flex-direction: column;
 }
}
