/************************************************** SCROLL EFFECT  *************************************************/
html{
  scroll-behavior: smooth;
}
:root{
  --pry-color:black;
  --primary-color:#f6f1c5;
  --sec-color:#f6f7d4;
  --secondary-color:#aa4a30;
}

::-webkit-scrollbar{
  width: 15px;
  background:var(--primary-color);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5 black; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--pry-color); 
}


/************************************************** ABOUT ME *************************************************/


#about{
  background-color: var(--primary-color);
  border: 5px solid var(--secondary-color);
}
#about img{
  width: 200px;
  height: 300px;
  border-radius: 30%;
  margin-bottom: 15px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

section {
  padding: 4rem 1rem;
}
.banner{
  min-height: 100vh;
  background:var(--secondary-color);
  display: flex;
  width: 100%;
  flex-direction: column;
}
.banner h2{
  margin-top: 10vh;
font-size: 3em;
color: var(--pry-color);
font-weight: 500;
line-height: 1.5em;
}
.banner h2 span{
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3{
  font-size: 1.5em;
  color:var(--sec-color);
  font-weight: 500;
}
/* ABOUT  */
.container {
  padding: 60px 15px 0;
  height: fit-content;
  align-self: center;
}

#btn{
  position: relative;
  background-color: var(--primary-color);
  display: inline-block;
  color:var(--pry-color);
  margin-top: 20px;
  padding: 5px 10px;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bolder;
}
#btn:hover{
  color:var(--primary-color);
 background-color: transparent;
 box-shadow: 3px 3px  var(--primary-color);
}
@media screen and (max-width: 668px){
  #btn{
    font-size: 20px;
  }
  .container h2{
  font-size: 2em;
}
}

/************************************************** WHAT I DO  **************************************************/
.services{
  background: var(--primary-color);
}
.services .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.services .content .servicesBx{
  padding: 40px 20px;
   background:var(--secondary-color);
   color: var(--sec-color);
   max-width: 340px;
   margin: 20px;
   text-align: center;
   transition: .5s;
}
.services .content .servicesBx:hover{
  background:var(--primary-color);
  border-radius: 20%;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.services .content .servicesBx img{
  max-width: 80px;
  filter: invert(1);
}
.services .content .servicesBx h2{
  font-size: 20px;
  font-weight: 600;
}
.servicesBx i{
  color: var(--sec-color);
  font-size: 90px;
  margin: 0;
}
.servicesBx:hover i{
  color: var(--secondary-color);
}
/************************************************* PROJECT  *************************************************/

.project{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color: var(--secondary-color);
padding-bottom: 30px;
}

.card{
flex: 1 1 150px rgba(0, 0, 0, 0.2);
box-shadow: 0 4px 8px 0;
transition: 0.3s;
margin: 30px;
border-radius: 2%;
display: flex;
flex-direction: column;
margin-top: 2vh;
}
.card > a >img{
  width: 30vw;
}

.card:hover{
background-color: transparent;
color: var(--primary-color);
}
.card:hover a{
  background-color: transparent;
  color: var(--primary-color);
  }
.pcontainer a{
color: var(--secondary-color);
text-decoration: none;
}
.pcontainer a:hover{
color: var(--primary-color);
text-decoration: underline;
}
.pcontainer:hover a{
  color: var(--primary-color);
  text-decoration: underline;
}
.pcontainer{
margin: 2vw;
flex-wrap: wrap;
text-align: center;
width: 26vw;
} 
.projectTitle{
  display: flex;
  height: 50px;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 60px;
}
.projectTitle > h3{
  text-align: center;
  color: var(--secondary-color);
}
@media screen and (max-width: 668px){
  .card > img{
      width: 90vw;
  }
  .container{
      width: 66vw;
  }
}



/**************************************************  CONTACT  ************************************************* */
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  -webkit-text-stroke: 1px var(--black-color);
 color: var(--black-color);
 font-size: 55px;
 text-shadow:
     3px 3px 0 var(--secondary-color),
   -1px -1px 0 var(--secondary-color),  
    1px -1px 0 var(--secondary-color),
    -1px 1px 0 var(--secondary-color),
     1px 1px 0 var(--secondary-color);
     align-self: center;
}
.address{
  text-align: right;
  line-height: 1.5;
}
.social-media{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vh;
}
.social-media a{
  text-decoration: none;
  color: var(--white-color);
  font-size: 35px;
  margin: 20px;
  padding: 10px;
}

.social-media a:hover{
  color:var(--black-color);
}
input, textarea {
  width: 100%;
  padding: 12px; 
  border: 2px solid var(--secondary-color); 
  border-radius: 8px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

.button{
   display: flex;
   align-items: flex-end;
}
button[type=submit] {
  background-color: var(--secondary-color);
 border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 12px 20px;
  border-radius: 5px;
  margin-left: auto; 
  margin-bottom: 16px;
  margin-top: 16px;
}

button[type=submit]:hover {
 color:var(--primary-color);
 background-color: transparent;
 box-shadow: 3px 3px  var(--primary-color);
}

@media screen and (max-width: 768px) {}

.footer{
  background-color: black;
  color: var(--primary-color);
}


/************************************************** Nav Bar **************************************************/
.navbar .container {
  max-width: inherit;
  padding: 0;
  background-color: inherit;
}
.navbar {
  padding: 0.4rem 0.8rem;
  color: var(--primary-color);
  font-size: 1.2rem;
  background-color: black;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container > nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .container > nav > ul > li > a {
  padding: 0.3rem;
  margin: 0 0.25rem;
  color: var(--primary-color);
  transition: all 0.5s ease;
}

.navbar .container > nav > ul > li > a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: all 0.5s ease;
}

.navbar .container .logo p {
  font-size: 1.7rem;
  font-weight: bold;
}

/* Hamburger */
.hamburger {
  display: none;
  width: 30px;
  height: 30px;
  float: right;
  outline: none;
  border: none;
  background: var(--secondary-color);
  margin-right: 5px;
  transition: all 0.5s ease-in-out;
}

.hamburger-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 3px 0;
  transition: all 0.5s ease-in-out;
}

.hamburger-box .hamburger-list {
  display: inline-block;
  height: 5px;
  background: var(--primary-color);
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.hamburger-box.open .hamburger-list1 {
  transform: rotate(45deg) translate(3px, 7px);
}

.hamburger-box.open .hamburger-list2 {
  transform: translate(-50px);
  background: transparent;
}

.hamburger-box.open .hamburger-list3 {
  transform: rotate(-45deg) translate(6px, -10px);
}
@media screen and (max-width: 768px) {
  /* Navbar */
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navbar .container {
    flex-direction: column;
  }

  .navbar .container > .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .container > nav > ul {
    flex-direction: column;
  }

  .nav-list .nav-items {
    margin: 0.4rem;
  }

  .nav-list {
    height: 0;
    overflow: hidden;
    transition: all 1.2s ease;
    width: 100%;
  }

  .nav-list.show {
    height: 278.4px;
    transition: all 1.2s ease;
  }

  /* Hamburger Button */
  .hamburger {
    display: block;
  }
}

/* MOMENTS  */
#moment{
  background-color: var(--primary-color);
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* MODAL  */
/* The Modal (background) */
.modal {
  display: none;
  position: relative;
  z-index: 1;
  width: auto;
  max-height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.897);
 text-align: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color:var(--primary-color);
  margin: auto !important;
  width: fit-content !important;
  height: auto; 
  padding: 0 !important;
  max-width: 1200px !important;
  max-height:100vh;
  overflow: hidden;
 background-color: transparent !important;
 text-align: center;
}
.mySlides > img{
   opacity: 1;
  border: 5px solid var(--secondary-color);
  max-height: 100vh !important;
  width: auto !important;
  max-width: 100vw;
}
/* The Close Button */
.close {
  background-color: var(--primary-color);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: 900;
}

.close:hover,
.close:focus {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color:var(--secondary-color);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: var(--primary-color);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--primary-color);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--secondary-color);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: var(--primary-color);
}

div.ncolumn{
  width: 37px;
  height: 37px;
  overflow: hidden;
  background-color: var(--secondary-color);
}

img.demo {
  opacity: 1;
  height: 37px;
  object-fit: cover;
  border: 2px solid var(--secondary-color);
}
.column::after {
  content: "";
  display: table;
  clear: both;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left-col{
  display: flex;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  align-self: center;
  flex: 1;
}
footer .container{
  padding: 0;
}
.footer-social i{
  color: var(--primary-color);
  font-size: 3em;
}
.footer-social i:hover{
  color: var(--secondary-color);
  font-weight: 900;
  font-size: 3.5em;
}
.twitter{
  display: flex;
  justify-content: center;
  background-color: #f6f1c5;
  
}