/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

:root{
  --pry-color:black;
  --primary-color:#f6f1c5;
  --sec-color:#f6f7d4;
  --secondary-color:#aa4a30;
}

::-webkit-scrollbar{
  width: 15px;
  background:var(--primary-color);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5 black; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--pry-color); 
}
/* Nav Bar */
.navbar{
  background: #000;
  color: var(--primary-color);
}

.container {
  padding: 60px 15px 0;
  height: fit-content;
  align-self: center;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

section {
  padding: 4rem;
}
.banner{
  min-height: 93h;
  background:var(--secondary-color);
  display: flex;
  width: 100%;
}
.banner2{
  background-color: var(--primary-color);
}
.banner h2{
font-size: 3em;
color: var(--pry-color);
font-weight: 500;
line-height: 1.5em;
}
.banner h2 span{
  font-size: 1.5em;
  font-weight: 700;
}
.banner h3{
  font-size: 1.5em;
  color:var(--sec-color);
  font-weight: 500;
}
#btn{
  position: relative;
  background-color: var(--primary-color);
  display: inline-block;
  color:var(--pry-color);
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bolder;
}
#btn:hover{
  color:var(--primary-color);
 background-color: transparent;
 box-shadow: 3px 3px  var(--primary-color);
}

.services{
  background: var(--primary-color);
}
.services .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.services .content .servicesBx{
  padding: 40px 20px;
   background:var(--secondary-color);
   color: var(--sec-color);
   max-width: 340px;
   margin: 20px;
   text-align: center;
   transition: .5s;
}
.services .content .servicesBx:hover{
  background:var(--primary-color);
  border-radius: 20%;
  color: var(--pry-color);
  border: 1px solid var(--secondary-color);
}
.services .content .servicesBx img{
  max-width: 80px;
  filter: invert(1);
}
.services .content .servicesBx h2{
  font-size: 20px;
  font-weight: 600;
}

/* PROJECT  */





.project{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color: var(--secondary-color);
padding-bottom: 30px;
}

.card{
flex: 1 1 150px rgba(0, 0, 0, 0.2);
box-shadow: 0 4px 8px 0;
transition: 0.3s;
margin: 30px;
border-radius: 2%;
display: flex;
flex-direction: column;
margin-top: 2vh;
align-items: center;
}
.card > a >img{
width: 30vw;
}

.card:hover{
background-color: transparent;
color: var(--primary-color);
}
.card:hover a{
  background-color: transparent;
  color: var(--primary-color);
  }
.pcontainer a{
color: var(--secondary-color);
text-decoration: none;
}
.pcontainer a:hover{
color: var(--primary-color);
text-decoration: underline;
}
.pcontainer:hover a{
  color: var(--primary-color);
  text-decoration: underline;
}
.pcontainer{
margin: 2vw;
flex-wrap: wrap;
text-align: center;
width: 26vw;
}
.projectTitle{
  display: flex;
  height: 50px;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.projectTitle > h3{
  text-align: center;
  color: var(--secondary-color);
}
@media screen and (max-width: 700px){
.card > img{
    width: 90vw;
}
.container{
    width: 66vw;
}
.pcontainer{
    width: auto;
}
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2vw;
  width: 60vw;
}
h1{
  -webkit-text-stroke: 1px var(--black-color);
 color: var(--black-color);
 font-size: 55px;
 text-shadow:
     3px 3px 0 var(--secondary-color),
   -1px -1px 0 var(--secondary-color),  
    1px -1px 0 var(--secondary-color),
    -1px 1px 0 var(--secondary-color),
     1px 1px 0 var(--secondary-color);
     align-self: center;
}
.address{
  text-align: right;
  line-height: 1.5;
}
.social-media{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vh;
}
.social-media a{
  text-decoration: none;
  color: var(--white-color);
  font-size: 35px;
  margin: 20px;
  padding: 10px;
}

.social-media a:hover{
  color:var(--black-color);
}
input, textarea {
  width: 100%;
  padding: 12px; 
  border: 2px solid var(--secondary-color); 
  border-radius: 8px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

.button{
   display: flex;
   align-items: flex-end;
}
button[type=submit] {
  background-color: var(--secondary-color);
 border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 12px 20px;
  border-radius: 5px;
  margin-left: auto; 
  margin-bottom: 16px;
  margin-top: 16px;
}

button[type=submit]:hover {
 color:var(--primary-color);
 background-color: transparent;
 box-shadow: 3px 3px  var(--primary-color);
}
.footer{
  background-color: black;
  color: var(--primary-color);
}
@media screen and (max-width: 700px){
 body{
     height: max-content;
 }
}